{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <h2 class="text-center primary-font">{{question.name}}</h2>
    <div class="panel panel-primary">
      <div class="panel-heading">Editar</div>
      <div class="panel-body">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="text-center">
              <input type="submit" value="Editar" class="btn btn-warning separation" />
            </div>
        {{ form_end(edit_form) }}
      </div>
      <div class="panel-footer text-right">
          <a class="btn btn-default" href="{{ path('question_index', {'pool': pool.id}) }}">Regresar a Formulario</a>
          {{ form_start(delete_form) }}
            <input type="submit" value="Borrar" class="btn btn-danger">
          {{ form_end(delete_form) }}
      </div>
    </div>
{% endblock %}
