{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
  <h1 class="text-center primary-font">Listado de Formularios</h1>
  <a class="btn btn-block btn-success" style ="margin:20px 0;" href="{{ path('pool_new')}}">Crear Nuevo</a>
  <table class="table table-bordered">
  	<thead>
  		<th>Id</th>
  		<th>Encuesta</th>
  		<th>Opciones</th>
  	</thead>
  	<tbody>
      {% for pool in pools %}
    		<tr>
    			<td>{{ pool.id }}</td>
    			<td>{{ pool.title }}</td>
    			<td>
            <a href="{{ path('pool_show', {'id': pool.id}) }}" class="btn btn-info">Ver</a>
            <a href="{{ path('pool_edit', {'id': pool.id}) }}" class="btn btn-warning">Editar</a>
    				<a href="{{ path('revision_index', {'pool': pool.id})}}" class="btn btn-primary">Responder</a>
    				<a href="#" class="btn btn-success">Resultados</a>
    			</td>
    		</tr>
      {% endfor %}
  	</tbody>
	</table>
</section>
{% endblock %}
